<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Online exam </title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css">
    <script>
        $(document).ready(function()
        {
            $("#btn1").click(function()
            {
               $(".rb").show();
               $(".rb").attr("disabled",true);
            });
        });

    </script>
</head>
<body>
    <center>
        <h1>Online Exam</h1>

    </center>
    <div style="padding-left: 30px;">
        {% for result in data %}
        <table>
            <tr>
                <td><b>{{result.id}} ) {{result.questions}} ?</b></td>
            </tr>
            <tr>
                <td><input type="radio" id="option1" class="rb" name="{{result.id}}" value="{{result.option1}}"> {{ result.option1 }}</td>
            </tr>
            <tr>
                <td><input type="radio" id="option2" class="rb" name="{{result.id}}" value="{{result.option2}}">{{ result.option2 }}</td>
            </tr>
            <tr>
                <td><input type="radio" id="option3" class="rb" name="{{result.id}}" value="{{result.option3}}">{{ result.option3 }}</td>
            </tr>
            <tr>
                <td><input type="radio" id="option4" class="rb" name="{{result.id}}"  value="{{result.option4}}">{{ result.option4 }}</td>
            </tr>
            <tr>
                <td><label id="corans" class="rb" style="display: none; color: green"><b>The Correct Ans is: {{ result.correctans }}</b></label></td>
            </tr>
            <hr/>
        </table>
        {% endfor %}
        <hr/>
        <input type="submit" value=" Click for result" id="btn1" onclick="getanswers();"/>
        <hr/>

    </div>

</body>
</html>