<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>add Question</title>
</head>
<body>
<div style="padding:30px;max-width:600px;width:600px;background-color:#99CCFF;display: block;margin:auto;margin-top:100px;margin-bottom:100px;">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="text-center">
                    <h2> You add another question or submit</h2>
                </div>

                <div class="text-center">
                <button type="submit"  class="btn btn-success ">Add</button>
                    <button type="submit"  class="btn btn-success ">Submit</button>
                </div>
            </form>
        </div>

</body>
</html>